$font: 'Open Sans', sans-serif;

$colors--green: #50742F; //#abc216 old green;
$colors--white: #ffffff;
$colors--greyish: #f5f5f5;
$colors--grey: #e8ecf1;
$colors--black: #000000;

$layouts--boxed: 1024px;

$bp-small: 576px;
$bp-medium: 768px;
$bp-regular: 992px;
$bp-large: 1200px;
